<!DOCTYPE html>
<html>
  <head>
    <title><%= login + " (" + name + ") / Repositories" %></title>
    <link rel="stylesheet" href="/assets/main.css" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"
    />
    <link
      rel="icon"
      class="js-site-favicon"
      type="image/svg+xml"
      href="https://github.githubassets.com/favicons/favicon-dark.svg"
    />
  </head>
  <body>
    <div class="position-relative js-header-wrapper">
      <%- include('header', {login, avatarUrl}); -%>
    </div>
    <div
      class="application-main"
      data-commit-hovercards-enabled=""
      data-discussion-hovercards-enabled=""
      data-issue-and-pr-hovercards-enabled
    >
      <main id="js-pjax-container" data-pjax-container="">
        <%- include('underlineNav', {login, name, bio, avatarUrl}); -%>
        <div class="container-xl px-3 px-md-4 px-lg-5">
          <div class="gutter-condensed gutter-lg flex-column flex-md-row d-flex">
            <div class="flex-shrink-0 col-12 col-md-3 mb-4 mb-md-0">
              <%- include('sidebar', {avatarUrl, bio, login, name}); -%>
            </div>
            <div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
              <div>
                <div class="position-relative">
                  <%- include('repoSearchBar', {login}); -%> <%- include('repoList'); -%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
